@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,500;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,500;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
} /*
*/



.CountCantidad {
  background: -moz-linear-gradient(
    356deg,
    rgba(28, 26, 28, 1) 25%,
    rgba(22, 22, 24, 1) 59%
  );
  background: -webkit-linear-gradient(
    356deg,
    rgba(28, 26, 28, 1) 25%,
    rgba(22, 22, 24, 1) 59%
  );
  background: linear-gradient(88deg, rgb(28 27 28) 25%, rgb(19 19 19) 59%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1a1c",endColorstr="#161618",GradientType=1);
  height: 100%;
  display: flex;
}
.contentedorsegundario {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

  
}
.contenedortext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.contenedortext button {
  width: 12rem;
  height: 2rem;
  border-radius: 20px;
  background: #dac191;
  border: transparent;
  color: #342016;
  box-shadow: -1px -2px 94px 10px rgba(218, 193, 145, 0.75);
  -webkit-box-shadow: -1px -2px 94px 10px rgba(218, 193, 145, 0.75);
  -moz-box-shadow: -1px -2px 94px 10px rgba(218, 193, 145, 0.75);
}
.contenedortext button:hover {
  background: #b47a42;
  box-shadow: -1px -2px 94px 10px rgba(180, 122, 66, 0.75);
  -webkit-box-shadow: -1px -2px 94px 10px rgba(180, 122, 66, 0.75);
  -moz-box-shadow: -1px -2px 94px 10px rgba(180, 122, 66, 0.75);
}
.contenedortext button:active {
  background: #966238;
  box-shadow: -1px -2px 94px 10px rgba(150, 98, 56, 0.75);
  -webkit-box-shadow: -1px -2px 94px 10px rgba(150, 98, 56, 0.75);
  -moz-box-shadow: -1px -2px 94px 10px rgba(150, 98, 56, 0.75);
}

.circle {
  width: 18rem;
  height: 18rem;
  border: solid 3rem #e9dcbf1f;
  border-radius: 50%;
  position: absolute;
  left: -68px;
  top: -180px;
  z-index: 100;
}
.circle2 {
  width: 18rem;
  height: 18rem;
  border: solid 3rem #e9dcbf1f;
  border-radius: 50%;
  position: absolute;
  left: -68px;
  bottom: -55rem;
  z-index: 100;
}

.background {
  height: 100vh;
  width: 100%;
  background: #000000bd;
  z-index: 100;
  position: absolute;
}
img.gifimagen {
  display: none;
}

.accesspoint {
  display: none;
  flex-direction: column;
  gap: 20px;
}
.accesspoint > a {
  width: 0.6rem;
  height: 0.6rem;
  border: transparent;
  border-radius: 50px;
  background: #ffffff99;
}


#circle-orbit-container {
  top: 110px;
  right: 160px;
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: 100;
  display: none;
}
#circle-orbit-container2 {
  bottom: -99px;
  left: -62px;
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: 100;
}
/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
  border: 1.9px #f5efdf33 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 180s linear infinite;
  animation: spin-right 180s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: 32px;
  left: 88px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #f5efdf;
}
.outer-orbit-cirlces2 {
  position: absolute;
  top: 17px;
  left: 279px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #f5efdf;
} /**/

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
*/

body {
  background: #ebe9ec;
  height: 100%;
  overflow-x: hidden;
}
.nav_bar {
  position: absolute;
  height: 6rem;
  z-index: 1000;
}
.aaa {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}
.btsnavbar {
  display: none;
}
.btsnavbar a {
  color: white;
  font-size: 12px;
  margin: 0 14px;
  cursor: pointer;
  border-bottom: solid 0px wheat;
  transition: border 1s ease-in-out;
  font-weight: 800;
  text-decoration: none;

  transition: border-bottom 3s ease 0s;
}
.btsnavbar a span {
  padding: 25px 0;
  border-bottom: solid 2px transparent;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease;
}

.btsnavbar a :hover {

  border-bottom: solid 2px wheat;
}

.nav_bar-Img-Logo {
  margin: 4px 25px;

  width: 80px;
  max-width: 100%;
  display: block;
}

.etc {
  width: 35px;
  height: 35px;
  display: flex;
    align-items: center;
  justify-content: center;
  border: transparent;
  background: transparent;
  z-index: 3;
}
.etc img {
  width: 25px;
  height: 25px;
  margin-right: 35px;
}

/* aaaaaaaaaaaaaaaaaaaa*/

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff9e;
  margin: 4.5rem;
}
.maincontent p {
  font-size: 2rem;
  color: #22262b;
  margin: 3rem 0;
  font-family: "Alegreya Sans";
}

.contenedor_books {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 68rem;
  flex-wrap: wrap;
  justify-content: center;
}
.newbooks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0.6rem;

  border-radius: 10px;
  animation: booksall 1s ease 0s 1 normal forwards;
  transition: transform 0.3s ease-in-out;
}
@keyframes booksall {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.newbooks:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background: #ffffff;
}

.imgcontent {
  width: 9rem;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 19px 20px -6px rgb(0 0 0 / 53%);
  -webkit-box-shadow: 0px 19px 20px -6px rgb(0 0 0 / 53%);
  -moz-box-shadow: 0px 19px 20px -6px rgba(0, 0, 0, 0.53);
}
.imgcontent img {
  width: 9rem;
  height: 13rem;
}
.titlecontent {
  font-size: 11px;
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlecontent h3 {
  width: 10em;
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: 0.9rem;
}
.vertodo {
  width: 80vw;
  height: 3rem;
  background: transparent;
  border: solid 1px cadetblue;
  color: cadetblue;
  font-size: medium;
  font-weight: 900;
  margin: 3rem;
}
.vertodo:hover {
  background: cadetblue;
  color: white;
}
/* wwwwwwwwwwwwwwwwwwwwwww*/
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  flex-direction: column;
  height: unset;
  background: -moz-linear-gradient(
    356deg,
    rgba(28, 26, 28, 1) 25%,
    rgba(22, 22, 24, 1) 59%
  );
  background: -webkit-linear-gradient(
    356deg,
    rgba(28, 26, 28, 1) 25%,
    rgba(22, 22, 24, 1) 59%
  );
  background: linear-gradient(88deg, rgb(28 27 28) 25%, rgb(19 19 19) 59%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1a1c",endColorstr="#161618",GradientType=1);
height: 100%;
}
footer#contact img {
  width: 13rem;
}
/**/
.social-media {
  margin: 5px 0px;
}

.social-media a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #333333b0;
}

.social-media a:hover {
  color: #007bff;
}

.social-media i {
  font-size: 24px;
  margin-bottom: 5px;
}

.social-media span {
  font-size: 12px;
  text-align: center;
}
.containerFooterSocialMedia {
  width: 17rem;
}
.containerFooterSocialMedia p {
  font-size: 12px;
  color: #333333b0;
  margin: 10px 0;
}/**/

.links-about {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 12px;
}
.links-about a {
  text-decoration: none;
}
.ContenedorFooter {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px white;
  width: 100vw;
  flex-direction: row;
  height: 70svh;
  justify-content: center;
  align-items: center;
}
.contentinfo1 {
  display: flex;
  gap: 14px;
  width: 17rem;
  margin: 30px 0;
  flex-direction: column;
}
.ContenedorFooter > div {
  width: 14rem;
  padding: 0;
  border: transparent;
}
.contentinfo1 h3, a {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}
.contentinfo1:nth-child(2), .contentinfo1:nth-child(3) {
  height: 100%;
  display: flex;
  justify-content: center;
}
.ContenedorFooter > div:nth-child(4) {
  width: 8rem;
}
.copyright {
  width: 100svw;
  background: black;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
}
/*------------------------ */
#checklist-items li.hidden {
  display: none !important;
}
.checklist {
  border: transparent;
  padding: 10px;
  margin: 10px;
  font-family: "Alegreya Sans";
  width: 21rem;
  color: black;
}

.checklist h2 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
}

.checklist li {
  margin-bottom: 5px;
}

.checklist input[type="checkbox"] {
  display: none;
}
.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.checklist li :hover {
  background: rgb(69 140 149);
  color: antiquewhite;
}

input[type="checkbox"]:checked + label {
  background: #92fffa59;
}
.checklist li label {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 14px;
  font-size: 22px;
}

.hidden {
  display: none;
}
.more-hidden {
  display: none;
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}
.collapsed {
  display: none;
}
/* --------------------------------*/

.menu {
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: calc(100%);
  background: #f1f1f1;
  translate: 100% 0;
  transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  position: fixed;
  overflow-y: scroll;
  flex-direction: column;
}
.blockcontentmenuopen {
  background: #55555578;
  width: 100vw;
  height: 111vh;
  position: absolute;
  display: none;
}
.open .blockcontentmenuopen {
  display: flex;
}

.menu nav {
  opacity: 0;
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 100% 50%);
  }
  100% {
    clip-path: ellipse(120% 120% at 100% 50%);
  }
}

.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  animation: menu-in 0.375s;
}

.open .menu nav {
  opacity: 1;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a::before {
  opacity: 0;
  background: rgb(255 255 255 / 20%);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

/* ---------------------------*/
.nav_bar-menu-main-content {
  width: 24rem;
  height: 100vh;
  background: red;
  display: block;
  position: fixed;
  top: 0;
  right: -24rem;
}
/*                       */
.body_Container-Center-Img {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  animation: img-Center 1s ease 0s 1 alternate forwards;
}
.body_Center-Img-Text {
  position: absolute;
  font-size: 10vw;
  color: rgb(69 140 149);
  letter-spacing: 8px;
}
.loader::after,
.loader::before {
  animation: loader 10s linear infinite;
  content: "";
  border: 2px solid #0000003b;
  width: 700px;
  height: 700px;
  position: fixed;
  border-radius: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.loader::after {
  opacity: 0;
  animation-delay: 5s;
}
.body_Center-Img {
  display: block;
  margin: auto;
  width: 350px;
  height: 66vh;
  max-width: 100%;
}
.body_Container-Text-Description {
  width: 283px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh 0 0 4vw;
  gap: 6px;
}
.body_Lineup-Text {
  background-color: rgb(0 0 0 / 29%);
  width: 40px;
  height: 5px;
}
.body_Text-Description {
  font-family: roboto;
  font-size: 12px;
  display: block;
  color: rgb(116, 116, 116);
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
}
.body_Content-Info {
  background: rgb(0 0 0 / 0%);
  border: rgb(0 0 0 / 0%);
  margin: 0 13px;
  display: none;
}
.body_Content-Info img {
  width: 23px;
  height: 23px;
}
.body_Container-Button-Arrow {
  display: flex;
  position: relative;
  top: 8vh;
  justify-content: flex-end;
  margin: 0 13px;
}
.body_Content-Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.507);
  z-index: 1;
}
.body_Content-Arrow:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.body_Content-Arrow:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.body_Content-Arrow:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.body_Content-Arrow img {
  width: 23px;
  height: 23px;
}
/*- - - - -*/
.slide {
  display: none;
}
/*- - --  -*/
.section_2-h4-container {
  background: white;
  font-size: 17px;
  width: 42%;
  padding: 24px;
  border-radius: 31px;
  margin: 23px 18px;
}
.section_2-h4-container h4 {
  font-family: "Quicksand", sans-serif;
}
/* - - - - - */
.s003 {
  margin: 16px 0;
}
.s003 form {
  width: 100%;
  max-width: 790px;
  margin-bottom: 0;
}
.s003 form .inner-form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.input-field.first-wrap {
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 11px;
}
.input-field.second-wrap {
  margin-left: 19px;
  width: fit-content;
}
.input-field input {
  height: 100%;
  background: white;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  color: #555;
  margin-right: 16px;
  display: none;
}
.input-field.third-wrap {
  width: 74px;
  margin-left: 10px;
}
select {
  padding: 10px;
  width: 200px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0 19px;
  border: transparent;
  color: gray;
}
.btn-search {
  border: transparent;
  background: white;
  width: 41px;
  height: 38px;
  display: none;
}
svg.svg-inline--fa.fa-search.fa-w-16 {
  width: 16px;
}
/*- - - - -*/

/*----------------------*/
.section_2 {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1586251872200-8f800f05b397?q=80&w=1412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
.section_2-books-display-bts {
  display: flex;
  gap: 10px;
}
.section_2-bts-module-display {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
/*-*/
.section_about {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1485657400422-d3c69ef1af72?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 100vh;
}

.background2 {
  height: 100vh;
  width: 100%;
  background: #000000bd;
  z-index: 99;
  position: absolute;
}

/**/

img.fontimg {
  width: 40svw;
  position: absolute;
  clip-path: polygon(12.3% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 4rem 1rem;
}
/**/

.textodeco {
    width: 80vw;
    font-size: 4rem;
    text-align: center;
  font-weight: 700;
  color: white;
  animation: 3s ease 0s 1 normal forwards running text;
  font-family: Raleway, sans-serif;
  -webkit-animation: slide-bottom 0.4s linear both;
            animation: slide-bottom 0.4s linear both;  font-family: Raleway, sans-serif;
}

.textodesc {
  width: unset;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 300;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateZ(-160px) translateY(-100px);
    transform: translateZ(-160px) translateY(-100px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateZ(-160px) translateY(-100px);
    transform: translateZ(-160px) translateY(-100px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
}
.contenedorprimario {
  width: 83vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
  z-index: 100;
}

.cantidadlibros {
  width: 90vw;
  display: flex;
  margin: auto;
  border-radius: 32px;
  justify-content: center;
}
.Txtlibro .TxtRevista {
  background: white;
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.Txtlibro:hover, .TxtRevista:hover {
  transform: scale(1.1);
}
.Logo {
  width: 11rem;
}
.Logo {
  width: 7rem;
}


.numberbook {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  flex-direction: column;
  gap: 30px;
}
/**/

.Txtlibro > div > img {
  width: 40px;
  background: #de3a70;
  border-radius: 5px;
}
.TxtRevista > div > img {
  width: 40px;
  background: #de3a70;
  border-radius: 5px;
}
div#ContenedoriconEtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ContenedoriconEtext:nth-child(1) img {
  width: 35px;
  background: crimson;
  border-radius: 4px;
  padding: 3px;
}
#ContenedoriconEtext img:nth-child(2) {
  width: 35px;
  background: red;
  border-radius: 4px;
  padding: 3px;
}
#ContenedoriconEtext:nth-child(3) > img {
  width: 35px;
  background: blue;
  border-radius: 4px;
  padding: 3px;
}



/**/
.numberbook > div {
  background: rgb(27,28,35);
  background: -moz-linear-gradient(164deg, rgba(27,28,35,1) 18%, rgba(56,59,64,1) 53%);
  background: -webkit-linear-gradient(164deg, rgba(27,28,35,1) 18%, rgb(22 22 22) 53%);
  background: linear-gradient(164deg, rgba(27,28,35,1) 18%, rgb(23 23 23) 53%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1c23",endColorstr="#383b40",GradientType=1);
  border-radius: 10px;
  -webkit-box-shadow: 9px 11px 32px -9px rgb(10 10 10);
  -moz-box-shadow: 9px 11px 32px -9px rgba(10, 10, 10, 1);
  box-shadow: 9px 11px 32px -9px rgb(10 10 10);
  display: flex;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  flex-direction: column;
  width: 85svw;
  max-width: 19rem;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
}
.numberbook > div > div {
  margin: 23px 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding: 0 31px;
  gap: 30px;
}
.numberbook img{
    width: 11rem;

}
.numberbook > div:nth-child(1) > img {
  width: 17rem;
  position: absolute;
  transform: translate(10svw, 17svh) rotate(-24deg);
  filter: hue-rotate(302deg);
}
.numberbook > div:nth-child(2) > img {
  position: absolute;
  transform: translate(-3svw, 6rem);
}
.numberbook > div:nth-child(3) > img {
  width: 211px;
  position: absolute;
  filter: invert(1);
  transform: translate(12svw, 129px);
}
/* - */
main.content_books {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin: 40px 0;
}
.book {
  background: rgb(255 255 255);
  height: 16.5rem;
  width: 11rem;
  max-width: 371px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  animation: myAnim 1s ease 0s 1 normal forwards;
  transition: height 2s ease 10ms;
}

.book img {
  width: 9em;
  height: 11em;
  object-fit: fill;
  transition: height 2s ease 10ms;
}
.content_books h3 {
  font-size: 12px;
  text-align: center;
  width: 80%;
}

#viewbookall {
  background: transparent;
  border: transparent;
  width: 11rem;
  height: 16.5rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}
/* state active books */
.book.active {
  height: 5em;
  width: 17em;
  flex-direction: row;
  align-items: center;
  animation: myAnim 1s ease 0s 1 normal forwards;
  flex-wrap: nowrap;
}
.book img.active {
  width: 5em;
  height: 5em;
  border-radius: 7px 0px 0px 7px;
  object-fit: fill;
}
#viewbookall.active {
  height: 5em;
  width: 17em;
}
/* - - - -  - - - -*/
.nav_menu-view-book {
  position: fixed;
  background: #121212eb;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-end;

  animation: backgrounviewmenu1 1s ease 0s 1 normal both;
}
@keyframes backgrounviewmenu1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section.FAQ {
  display: flex;
  width: 100svw;
  height: 50svh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: #131313;
  background: -moz-linear-gradient( 356deg, rgba(28, 26, 28, 1) 25%, rgba(22, 22, 24, 1) 59% );
  background: -webkit-linear-gradient( 356deg, rgba(28, 26, 28, 1) 25%, rgba(22, 22, 24, 1) 59% );
  background: linear-gradient(88deg, rgb(28 27 28) 25%, rgb(19 19 19) 59%);
  color: white;
  font-family: "Raleway", sans-serif;
}

details {
  border: solid 1px white;
  padding: 1rem 1rem;
  width: 25rem;
}

summary {
  font-size: 1.3rem;
}
.nav_menu-background-active {
  width: 100vw;
  height: 100vh;
  background: #1c1e1f;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;

  animation: backgrounviewmenu 2s ease 0s 1 normal both;
}
@keyframes backgrounviewmenu {
  0% {
    transform: translateX(350px);
  }

  100% {
    transform: translateX(0);
  }
}

.nav_menu-h2-title-book {
  animation: backgrounviewmenu-title 1.4s ease 1.8s 1 normal both;
}

.nav_menu-content-info-book {
  margin: 30px 20px;
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10000;
  color: white;
}
/* - - - - - - - - - -*/
.nav_menu-bts-close-menu {
  background: transparent;
  border: transparent;
  font-size: 24px;
  color: azure;
}
.nav_menu-img-book {
  width: 13rem;
  margin: 8px auto;
  z-index: 10000;
}
.nav_menu-img-book {
  animation: backgrounviewmenu-title 1.4s ease 2.5s 1 normal both;
}

.nav_menu-a-description {
  color: #a5a5a5fa;
  font-size: 14px;
  z-index: 10000;

  animation: backgrounviewmenu-title 1.4s ease 3.4s 1 normal both;
}
@keyframes backgrounviewmenu-title {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav_menu-bts-download {
  width: 13rem;
  height: 3rem;
  background: #edeff3;
  border-radius: 4px;
  margin: 10px auto;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  animation: backgrounviewmenu-title 1.4s ease 4s 1 normal both;
}

.deco1 {
  position: absolute;
  z-index: 1000;
  top: 70%;
  right: -65%;
  transform: rotate(90deg);
  z-index: 1;
}
.deco2 {
  position: absolute;
  top: 63%;
  right: 98%;
  transform: rotate(269deg);
  z-index: 1;
}

@keyframes backgrounviewmenu-title-exit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(350px);
  }
}

/*section 3*/
section.section_3 {
  /*width: 100%;*/
  display: none;
  flex-direction: column-reverse;
  align-items: center;
}

.content_books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background: #4796a68a;
  border: none;
  cursor: pointer;
  font-size: 19px;
  margin: 24px 6px;
  padding: 10px;
  color: white;
  border-radius: 40px;
}

.active {
  font-weight: bold;
}
.pagination-button i {
  font-size: 1.2rem;
  margin-top: -1px;
  margin-right: 5px;
}
/* - - - - - -- - - */
@media only screen and (min-width: 595px) {
  .input-field.input-field.first-wrap {
    margin-bottom: unset;
  }
}
@media only screen and (min-width: 768px) {
  .btsnavbar {
    display: flex;
  }
  .contentedorsegundario {
    width: 85vw;
}
.nav_bar-Img-Logo {
  margin: 4px 84px;
}
  .nav_menu-background-active {
    width: 35vw;
  }
  .nav_menu-content-info-book {
    width: 31vw;
    height: 90vh;
  }
  .etc{
    display: none;
  }

  .contenedorprimario {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 100;
  }
  .contenedortext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 0 0 11rem;
}
  .textodeco {
    width: 36rem;
    font-size: 4.8rem;
    font-weight: 700;
    color: white;
    -webkit-animation: slide-bottom 0.4s linear both;
    animation: slide-bottom 0.4s linear both;
        font-family: Raleway, sans-serif;
    line-height: 90px;
    letter-spacing: 7px;
    text-align: left;
  }
  .textodesc {
    width: 30rem;
    text-align: left;
    font-size: 14px;
    color: white;
    font-weight: 300;
    animation: 3s ease 0s 1 normal forwards running text;
    font-family: Raleway, sans-serif;
    font-weight: 400;
  }
  img.gifimagen {
    display: flex;
    filter: grayscale(1);
    width: 28vw;
  }
.accesspoint{
  display: flex;
}
  .nav_bar {
    position: absolute;
  }
.numberbook{
  flex-direction: row;
  gap: 14px;
}
.numberbook > div{
  flex-direction: column;
  width: 25svw;
}
  .numberbook img {
    width: 32vw;
}
#circle-orbit-container {
  display: flex;
}
.background {
  --circle-radius: 140px;
  --border-width: 35px;
  height: 100vh;
  width: 100%;
  --mask: radial-gradient( circle farthest-side at 82% 55%, #000 var(--circle-radius), transparent calc(var(--circle-radius) + 2px) calc(var(--circle-radius) + 2px + var(--border-width)), #000 calc(var(--circle-radius) + 2px + var(--border-width) + 2px) 100% ) 50% 50%/100% 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #000000bd;
  z-index: 100;
  position: absolute;
}
/**/
.CountCantidad {
  height: 100vh;
  display: flex;
}
  /*---*/
  footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f9f9f9;
    padding: 20px 20px 2px 20px;
    flex-direction: column;
    align-items: center;
  }
  .contentinfo1 {
    display: flex;
    gap: 14px;
    width: 17rem;
    border: unset;
    margin: unset;
    font-size: 8rem;
  }
  .contentinfo2 {
    margin: 1px 39px;
  }

  .menu {
    width: 300px;
  }
  .checklist {
    width: 14rem;
  }
  .checklist h2 {
    font-size: 18px;
  }
  .checklist li label {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@keyframes img-Center {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes exittoggle {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
